/* Estilos para o overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Garante que o overlay fique acima de outros elementos */
  }
  
  /* Estilos para o conteúdo do overlay */
  .overlay-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px; /* Largura máxima do overlay */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para o cabeçalho do overlay */
  .overlay-content .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  /* Estilos para os campos do formulário */
  .overlay-content .form-control {
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
  }
  
  /* Estilos para os botões */
  .overlay-content .btn {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .overlay-content .btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
  }
  
  .overlay-content .btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
  }
  
  /* Estilos para o botão de fechar */
  .overlay-content .btn-link {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
  }
  
  /* Estilos para os rótulos dos campos */
  .overlay-content .form-label {
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
  }

/* Estilos para os cards da home */
.hover-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.bg-primary-light {
  background-color: rgba(13, 110, 253, 0.1);
}

.bg-success-light {
  background-color: rgba(25, 135, 84, 0.1);
}

.bg-info-light {
  background-color: rgba(13, 202, 240, 0.1);
}

.bg-warning-light {
  background-color: rgba(255, 193, 7, 0.1);
}







